<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UEC | Tin tuyển dụng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/globals.js"></script>
</head>

<body>
    <header id="header-1" class="">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="gioithieu.html">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="huongdoanhnghiep.html">Hướng về Doanh nghiệp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="thongtinSV.html">Thông tin Sinh Viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dinhhuongNN.html">Định hướng nghề nghiệp</a>
                        </li>
                        <li class="nav-item">
                            <select name="">
                                <option value="">Job Fair 2018</option>
                                <option><a href="job.html">Job Fair 2019</a></option>
                                <option><a href="job.html">Job Fair 2020</a></option>
                            </select>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="khaosat.html"><i class="far fa-edit"></i> Làm khảo sát</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html"><i class="fas fa-user"></i> Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <aside id="slide-sp">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/bannertlu.png" style="width:100%" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img src="images/bannertlu.png" style="width:100%" alt="Chicago">
                </div>
                <div class="carousel-item">
                    <img src="images/bannertlu.png" style="width:100%" alt="New York">
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        </div>
    </aside>
    <br>
    <section id="dieuhuong-doc">
        <div class="container">
            <div class="row">
                <div class="col-md-4 nav-doc">
                    <div class="dn-tab">
                        <div class="dn-tab-title text-center">
                            <h4>doashboard</h4>
                        </div>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" href="pr_doanhnghiep_info.html">Thông tin doanh nghiệp</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" href="pr_doanhnghiep_tintuyendung.html">Quản lý tin tuyển dụng</a> <a class="float-right" data-toggle="collapse" href="#collapseOne"><i class="ml-auto mt-2 fas fa-angle-down"></i></a>
                                </div>
                                <div id="collapseOne" class="collapse show">
                                    <ul>
                                        <li><a href="pr_doanhnghiep_add_ttd.html">Tạo tin tuyển dụng</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" href="pr_doanhnghiep_khoadaotao.html">Quản lý khóa đào tạo</a> <a class="float-right" data-toggle="collapse" href="#collapse4"><i class="ml-auto mt-2 fas fa-angle-down"></i></a>
                                </div>
                                <div id="collapse4" class="collapse">
                                    <ul>
                                        <li><a href="pr_doanhnghiep_add_kdt.html">Thêm khóa đào tạo</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" href="pr_doanhnghiep_hosoungtuyen.html">Hồ sơ đã ứng tuyển</a> <a class="float-right" data-toggle="collapse" href="#collapseTwo"><i class="ml-auto mt-2 fas fa-angle-down"></i></a>
                                </div>
                                <div id="collapseTwo" class="collapse">
                                    <ul>
                                        <li><a href="#">phuongnam251096@gmail.com</a> <span class="badge  badge-danger">New</span></li>
                                        <li><a href="#">ntv2403@gmail.com</a> <span class="badge  badge-danger">New</span></li>
                                        <li><a href="#">bachlaoto@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" href="pr_doanhnghiep_thongke.html">Báo cáo - Thống kê</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="nav-child">
                        <div class="nav-child-title text-center">
                            <h3>Việc được nộp nhiều nhất</h3>
                        </div>
                        <ul>
                            <li>
                                <p><a href="#">PHP Developer (Junior )</a> <span class="badge badge-primary">42</span></p>
                                <p class="text-secondary"><i class="fas fa-dollar-sign"></i> Mức lương: 4 - 5 triệu</p>
                                <p class="text-secondary"><i class="fas fa-map-marker-alt"></i> Khu vực: Hà Nội</p>
                                <p class="text-right"><i class="far fa-clock"></i> Hạn nộp: <small>13 / 05 / 2018</small></p>
                            </li>
                            <li>
                                <p><a href="#">Lập trình .NET up to 1000$</a> <span class="badge badge-primary">38</span></p>
                                <p class="text-secondary"><i class="fas fa-dollar-sign"></i> Mức lương: 4 - 5 triệu</p>
                                <p class="text-secondary"><i class="fas fa-map-marker-alt"></i> Khu vực: Hà Nội</p>
                                <p class="text-right"><i class="far fa-clock"></i> Hạn nộp: <small>13 / 05 / 2018</small></p>
                            </li>
                            <li>
                                <p><a href="#">Bảo mật hệ thống kinh doanh</a> <span class="badge badge-primary">29</span></p>
                                <p class="text-secondary"><i class="fas fa-dollar-sign"></i> Mức lương: 4 - 5 triệu</p>
                                <p class="text-secondary"><i class="fas fa-map-marker-alt"></i> Khu vực: Hà Nội</p>
                                <p class="text-right"><i class="far fa-clock"></i> Hạn nộp: <small>13 / 05 / 2018</small></p>
                            </li>
                            <li>
                                <p><a href="#">Lập trình viên Ruby <span class="badge badge-primary">22</span></a></p>
                                <p class="text-secondary"><i class="fas fa-dollar-sign"></i> Mức lương: 4 - 5 triệu</p>
                                <p class="text-secondary"><i class="fas fa-map-marker-alt"></i> Khu vực: Hà Nội</p>
                                <p class="text-right"><i class="far fa-clock"></i> Hạn nộp: <small>13 / 05 / 2018</small></p>
                            </li>
                            <li>
                                <p><a href="#">Nhân Viên Sales Admin Thời Vụ</a> <span class="badge badge-primary">19</span></p>
                                <p class="text-secondary"><i class="fas fa-dollar-sign"></i> Mức lương: 4 - 5 triệu</p>
                                <p class="text-secondary"><i class="fas fa-map-marker-alt"></i> Khu vực: Hà Nội</p>
                                <p class="text-right"><i class="far fa-clock"></i> Hạn nộp: <small>13 / 05 / 2018</small></p>
                            </li>
                        </ul>
                    </nav>
                    <nav class="nav-child">
                        <div class="nav-child-title text-center">
                            <h3>Tin doanh nghiệp liên quan</h3>
                        </div>
                        <ul>
                            <li>
                                <div class="media">
                                    <img src="images/Fpt-Telecom.jpg">
                                    <div class="media-body">
                                        <h4><a href="#">Thực tập lập trình php</a></h4>
                                        <div class="media-body-nhatruong">
                                            <p><a href="#" class="text-secondary">Công ty Fsoft - Hà Nội</a></p>
                                            <p><small><i>Posted on February 19, 2016</i></small></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img src="images/hoithao.PNG">
                                    <div class="media-body">
                                        <h4><a href="#">Lập trình viên Ruby</a></h4>
                                        <div class="media-body-nhatruong">
                                            <p><a href="#" class="text-secondary">Framgia Inc - Hà Nội</a></p>
                                            <p><small><i>Posted on February 19, 2016</i></small></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img src="images/social_square.jpg">
                                    <div class="media-body">
                                        <h4><a href="#">Trợ lý Giám đốc Marketing</a></h4>
                                        <div class="media-body-nhatruong">
                                            <p><a href="#" class="text-secondary">Framgia Inc - Hà Nội</a></p>
                                            <p><small><i>Posted on February 19, 2016</i></small></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img src="images/viettel.png">
                                    <div class="media-body">
                                        <h4><a href="#">Kỹ Sư Lập Trình Nhúng</a></h4>
                                        <div class="media-body-nhatruong">
                                            <p><a href="#" class="text-secondary">CP dịch vụ truyền thông đa phương tiện - Hà Nội</a></p>
                                            <p><small><i>Posted on February 19, 2016</i></small></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img src="images/ipos-tuyendung-2.jpg">
                                    <div class="media-body">
                                        <h4><a href="#">Kỹ Sư Lập Trình Nhúng</a></h4>
                                        <div class="media-body-nhatruong">
                                            <p><a href="#" class="text-secondary">CP dịch vụ truyền thông đa phương tiện - Hà Nội</a></p>
                                            <p><small><i>Posted on February 19, 2016</i></small></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-8 baiviet">
                    <div class="baiviet-post">
                        <div class="text-center pr_dn_ttd-title">
                            <h1>Danh sách tin tuyển dụng đã tạo</h1>
                        </div>
                        <br>
                        <div class="pr_dn_ttd-title">
                            <a href="pr_doanhnghiep_add_ttd.html" class="btn btn-outline-primary">Thêm mới</a>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th>Tin tuyển dụng</th>
                                        <th>Hình thức làm việc</th>
                                        <th>Trạng thái</th>
                                        <th>Hạn nộp</th>
                                        <th>Sửa</th>
                                        <th>Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td class="text-center">35</td>
                                        <td>New York</td>
                                        <td class="text-center"><a href="#"><i class="fas fa-edit"></i></a></td>
                                        <td class="text-center"><a href="#"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td class="text-center">35</td>
                                        <td>New York</td>
                                        <td class="text-center"><a href="#"><i class="fas fa-edit"></i></a></td>
                                        <td class="text-center"><a href="#"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td class="text-center">35</td>
                                        <td>New York</td>
                                        <td class="text-center"><a href="#"><i class="fas fa-edit"></i></a></td>
                                        <td class="text-center"><a href="#"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td class="text-center">35</td>
                                        <td>New York</td>
                                        <td class="text-center"><a href="#"><i class="fas fa-edit"></i></a></td>
                                        <td class="text-center"><a href="#"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td class="text-center">35</td>
                                        <td>New York</td>
                                        <td class="text-center"><a href="#"><i class="fas fa-edit"></i></a></td>
                                        <td class="text-center"><a href="#"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td class="text-center">35</td>
                                        <td>New York</td>
                                        <td class="text-center"><a href="#"><i class="fas fa-edit"></i></a></td>
                                        <td class="text-center"><a href="#"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td class="text-center">35</td>
                                        <td>New York</td>
                                        <td class="text-center"><a href="#"><i class="fas fa-edit"></i></a></td>
                                        <td class="text-center"><a href="#"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 pr_dn_paginate">
                        <div class="row">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <aside id="aside-index">
        <div class="container">
            <div class="owl-carousel owl-all">
                <div class="item">
                    <a href="#"><img src="images/viettel.png"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/social_square.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/vnnplus-tuyen-dung-nhan-su-lap-trinh-php.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/Fpt-Telecom.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/advanced-dot-net-course-in-mumbai-thane-navi-new-mumbai.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/keysky-logo.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/logo-ipos.png"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/nashtech.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/ominext-logo.png"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/septeni-logo.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/vibiz-logo.png"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/Fpt-Telecom.jpg"></a>
                </div>
            </div>
        </div>
    </aside>
    <footer id="ft-1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ft-1-col">
                    <h4>các quy định</h4>
                    <div class="ft-1-huongdan">
                        <ul>
                            <li><a href="#">Viết bài</a></li>
                            <li><a href="#">Chào mừng</a></li>
                            <li><a href="#">Định hướng nghề nghiệp</a></li>
                            <li><a href="#">Kết nối cựu sinh viên</a></li>
                            <li><a href="#">Thông tin sinh viên</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ft-1-col">
                    <h4>liên kết hữu ích</h4>
                    <div class="ft-1-huongdan">
                        <ul>
                            <li><a href="#">Về với chúng tôi</a></li>
                            <li><a href="#">thanglong.edu.vn</a></li>
                            <li><a href="#">elearning.thanglong.edu.vn</a></li>
                            <li><a href="#">uec.thanglong.edu.vn</a></li>
                            <li><a href="#">fb.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ft-1-col">
                    <h4>Fanpage</h4>
                    <div class="ft-1-huongdan">
                        <img src="images/tlu-7.PNG" alt="">
                    </div>
                </div>
                <div class="col-md-3 ft-1-col">
                    <h4>Liên hệ</h4>
                    <div class="ft-1-huongdan-lienhe">
                        <ul>
                            <li><a href="#">UEC - TLU</a></li>
                            <li><a href="#">Cơ sở: CT12B Kim Văn Kim Lũ, Nghiêm Xuân Yêm, Đại Kim, Hoàng Mai, Hà Nội</a></li>
                            <li><a href="#">Cơ sở 2: 31 Đường Chiến Thắng - Khu I - Thị Trấn Cẩm Giàng - Hải Dương</a></li>
                            <li><a href="#">Số điện thoại: 024 3858 7346</a></li>
                            <li><a href="#">Email: tlu@thanglong.edu.vn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer id="ft-2">
        <div class="container">
            <div class="row text-center">
                <p>Copyright © 2018 Bản quyền thuộc UEC-TLU</p>
            </div>
        </div>
    </footer>
</body>

</html>