<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link re    l="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/globals.js"></script>
</head>

<body>
    <header id="header-1" class="">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="pub_gioithieu.html">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pub_huongdoanhnghiep.html">Hướng về Doanh nghiệp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pub_thongtinSV.html">Thông tin Sinh Viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pub_dinhhuongNN.html">Định hướng nghề nghiệp</a>
                        </li>
                        <li class="nav-item">
                            <select name="">
                                <option value="">Job Fair 2018</option>
                                <option><a href="pub_job.html">Job Fair 2019</a></option>
                                <option><a href="pub_job.html">Job Fair 2020</a></option>
                            </select>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="pub_khaosat.html"><i class="far fa-edit"></i> Làm khảo sát</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pub_login.html"><i class="fas fa-user"></i> Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <aside id="slide-sp">
        <!-- <div class="container"> -->
        <!-- <div class="row"> -->
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/tlu-2.png" style="width:100%" alt="Los Angeles">
                    <div class="carousel-caption ad">
                        <h3><img src="images/logo-tlu.png" style="width:10%"  alt=""></h3>
                        <p><a href="#">UNIVERSITY-ENTERPRISE CENTER (UEC-TLU) / <br> TRUNG TÂM KẾT NỐI ĐẠI HỌC DOANH NGHIỆP – <br> ĐẠI HỌC THĂNG LONG</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/tlu-2.png" style="width:100%" alt="Chicago">
                    <div class="carousel-caption ad">
                        <h3><img src="images/logo-tlu.png" style="width:10%"  alt=""></h3>
                        <p><a href="#">UNIVERSITY-ENTERPRISE CENTER (UEC-TLU) / <br> TRUNG TÂM KẾT NỐI ĐẠI HỌC DOANH NGHIỆP – <br> ĐẠI HỌC THĂNG LONG</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/tlu-2.png" style="width:100%" alt="New York">
                    <div class="carousel-caption ad">
                        <h3><img src="images/logo-tlu.png" style="width:10%"  alt=""></h3>
                        <p><a href="#">UNIVERSITY-ENTERPRISE CENTER (UEC-TLU) / <br> TRUNG TÂM KẾT NỐI ĐẠI HỌC DOANH NGHIỆP – <br> ĐẠI HỌC THĂNG LONG</a></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </aside>
    <nav id="nav-menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand d-lg-none" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colap2">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="colap2">
            <ul class="navbar-nav m-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="fa fa-home"></i> Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pub_baiviet.html">Bài viết</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pub_doanhnghiep.html">Doanh nghiệp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pub_timviec.html">Tìm việc làm</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="pub_khoadaotao.html">Khóa đào tạo</a>
              </li> 
            </ul>
          </div> 
        </nav>
      </div>
    </nav>

    
    <section id="breadcrumb-link">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item">Tìm việc</li>
            </ul>
        </div>
    </section>
    <section id="dieuhuong-doc">
        <div class="container">
            <div class="row">
                <div class="col-md-8 baiviet">
                    <!-- Thay doi tai day -->
                    <div class="timviec">
                        <div class="row timviec-row">
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/ipos-tuyendung.jpg"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-success card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/ipos-tuyendung-2.jpg"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-outline-danger card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/keysky-tuyendung.jpg"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Hỗ trợ cơ hội việc làm tại Ngân hàng Maritime Bank dành cho sinh viên ngành Tài chính - Ngân hàng</p>
                                        <a href="#" class="btn btn-outline-info card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/ominext-tuyendung.png"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-outline-secondary card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/septeni-tuyendung-2.jpg"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-outline-primary card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/tuyendung.png"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-outline-success card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/hoithao.PNG"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-warning card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/vnnplus-tuyen-dung-nhan-su-lap-trinh-php.jpg"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-danger card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/Fpt-Telecom.jpg"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-link card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/giao-hang-tiet-kiem.png"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-primary card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/Luyện-thi-ngân-hàng-Maritime-Bank.jpg"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-secondary card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 timviec-col">
                                <div class="card">
                                    <a href="#"><img class="card-img-top" src="images/ominext-tuyendung.png"></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Thực tập PHP (> 3 năm)</h4>
                                        <p class="card-text">Dự án của BraveBits đang phát triển không ngừng và công ty cần tìm kiếm thêm các cộng sự</p>
                                        <a href="#" class="btn btn-info card-sbm">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End thay đổi -->
                </div>
                <div class="col-md-4 nav-doc">
                    <nav class="nav-child">
                        <div class="nav-child-title text-center">
                            <h3>Bài viết mới nhất</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Hội thảo định hướng nghề nghiệp</a>
                                <p>13/05/2018</p>
                            </li>
                            <li>
                                <a href="#">Hỗ trợ cơ hội việc làm tại Ngân hàng Maritime Bank dành cho sinh viên ngành Tài chính - Ngân hàng</a>
                                <p>13/05/2018</p>
                            </li>
                            <li>
                                <a href="#">6 quy tắc cần thiết khi chuẩn bị phỏng vấn</a>
                                <p>13/05/2018</p>
                            </li>
                            <li>
                                <a href="#">6 quy tắc cần thiết khi chuẩn bị phỏng vấn</a>
                                <p>13/05/2018</p>
                            </li>
                            <li>
                                <a href="#">6 quy tắc cần thiết khi chuẩn bị phỏng vấn</a>
                                <p>13/05/2018</p>
                            </li>
                        </ul>
                    </nav>
                    <nav class="nav-child">
                        <div class="nav-child-title text-center">
                            <h3>Bài viết xem nhiều nhất</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Hội thảo định hướng nghề nghiệp</a>
                                <p>13/05/2018</p>
                            </li>
                            <li>
                                <a href="#">Hỗ trợ cơ hội việc làm tại Ngân hàng Maritime Bank dành cho sinh viên ngành Tài chính - Ngân hàng</a>
                                <p>13/05/2018</p>
                            </li>
                            <li>
                                <a href="#">6 quy tắc cần thiết khi chuẩn bị phỏng vấn</a>
                                <p>13/05/2018</p>
                            </li>
                            <li>
                                <a href="#">Hỗ trợ cơ hội việc làm tại Ngân hàng Maritime Bank dành cho sinh viên ngành Tài chính - Ngân hàng</a>
                                <p>13/05/2018</p>
                            </li>
                            <li>
                                <a href="#">Hỗ trợ cơ hội việc làm tại Ngân hàng Maritime Bank dành cho sinh viên ngành Tài chính - Ngân hàng</a>
                                <p>13/05/2018</p>
                            </li>
                        </ul>
                    </nav>
                    <div class="xem-demuc">
                        <form action="/action_page.php">
                            <div class="form-group">
                                <label for="pwd">ARCHIVES</label>
                                <select name="" class="form-control">
                                    <option value="">Chọn tháng</option>
                                    <option>Tháng 5 (2017)</option>
                                    <option>Tháng 6 (2017)</option>
                                    <option>Tháng 7 (2017)</option>
                                    <option>Tháng 8 (2017)</option>
                                    <option>Tháng 9 (2017)</option>
                                    <option>Tháng 10 (2017)</option>
                                    <option>Tháng 11 (2017)</option>
                                    <option>Tháng 12 (2017)</option>
                                    <option>Tháng 5 (2018)</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pwd">CATEGORIES</label>
                                <select name="" class="form-control">
                                    <option value="">Chọn danh mục</option>
                                    <option>Tháng 5 (2017)</option>
                                    <option>Tháng 6 (2017)</option>
                                    <option>Tháng 7 (2017)</option>
                                    <option>Tháng 8 (2017)</option>
                                    <option>Tháng 9 (2017)</option>
                                    <option>Tháng 10 (2017)</option>
                                    <option>Tháng 11 (2017)</option>
                                    <option>Tháng 12 (2017)</option>
                                    <option>Tháng 5 (2018)</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <br>
                    <nav class="nav-child">
                        <div class="nav-child-title text-center">
                            <h3>Liên hệ</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Login</a>
                            </li>
                            <li>
                                <a href="#">Entries RSS</a>
                            </li>
                            <li>
                                <a href="#">Comments RSS</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <br>
    <aside id="aside-index">
        <div class="container">
            <div class="owl-carousel owl-all">
                <div class="item">
                    <a href="#"><img src="images/viettel.png"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/social_square.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/vnnplus-tuyen-dung-nhan-su-lap-trinh-php.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/Fpt-Telecom.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/advanced-dot-net-course-in-mumbai-thane-navi-new-mumbai.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/keysky-logo.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/logo-ipos.png"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/nashtech.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/ominext-logo.png"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/septeni-logo.jpg"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/vibiz-logo.png"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/Fpt-Telecom.jpg"></a>
                </div>
            </div>
        </div>
    </aside>
    <footer id="ft-1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ft-1-col">
                    <h4>các quy định</h4>
                    <div class="ft-1-huongdan">
                        <ul>
                            <li><a href="#">Viết bài</a></li>
                            <li><a href="#">Chào mừng</a></li>
                            <li><a href="#">Định hướng nghề nghiệp</a></li>
                            <li><a href="#">Kết nối cựu sinh viên</a></li>
                            <li><a href="#">Thông tin sinh viên</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ft-1-col">
                    <h4>liên kết hữu ích</h4>
                    <div class="ft-1-huongdan">
                        <ul>
                            <li><a href="#">Về với chúng tôi</a></li>
                            <li><a href="#">thanglong.edu.vn</a></li>
                            <li><a href="#">elearning.thanglong.edu.vn</a></li>
                            <li><a href="#">uec.thanglong.edu.vn</a></li>
                            <li><a href="#">fb.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ft-1-col">
                    <h4>Fanpage</h4>
                    <div class="ft-1-huongdan">
                        <img src="images/tlu-7.PNG" alt="">
                    </div>
                </div>
                <div class="col-md-3 ft-1-col">
                    <h4>Liên hệ</h4>
                    <div class="ft-1-huongdan-lienhe">
                        <ul>
                            <li><a href="#">UEC - TLU</a></li>
                            <li><a href="#">Cơ sở: CT12B Kim Văn Kim Lũ, Nghiêm Xuân Yêm, Đại Kim, Hoàng Mai, Hà Nội</a></li>
                            <li><a href="#">Cơ sở 2: 31 Đường Chiến Thắng - Khu I - Thị Trấn Cẩm Giàng - Hải Dương</a></li>
                            <li><a href="#">Số điện thoại: 024 3858 7346</a></li>
                            <li><a href="#">Email: tlu@thanglong.edu.vn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer id="ft-2">
        <div class="container">
            <div class="row text-center">
                <p>Copyright © 2018 Bản quyền thuộc UEC-TLU</p>
            </div>
        </div>
    </footer>
</body>

</html>